**/*.tfstate
**/*.tfstate.**
**/.terraform/*
**/.terraform.lock.hcl
**/*.tfplan
**/*.exe
target/
**/target/
*.class
*.war
*.jar
*.ear
.settings/
.classpath
.project
.factorypath
.vscode/
*.pem
terraform_files/*.pem
ansible/*.pem
**/node_modules/
.DS_Store
